<ion-header [translucent]="true">
  <ion-toolbar color="dark" >
        <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
        <ion-title align="center" >Calculadora 2</ion-title>
    <ion-buttons slot="primary">
    </ion-buttons>
  </ion-toolbar>


  <ion-item>
    <ion-label  position="floating" >Operação: </ion-label>  
    <ion-input type="number" [(ngModel)]="operacao"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Resultado: {{resultado}} </ion-label>
  </ion-item>

  <ion-grid>
    <ion-row>
      
      <ion-col size="2">
        <ion-button color="dark" (click)="limpar()">MC</ion-button>
        <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
      </ion-col>
      
      <ion-col size="2">
        <ion-button color="dark" (click)="limpar()">MR</ion-button>
        <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
      </ion-col>
      
      <ion-col size="2">
        <ion-button color="dark" (click)="limpar()">M+</ion-button>
        <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
      </ion-col>
      
      <ion-col size="2">
        <ion-button color="dark" (click)="limpar()">M-</ion-button>
        <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
      </ion-col>
      
      <ion-col size="2">
        <ion-button color="dark" (click)="limpar()">MS</ion-button>
        <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
      </ion-col>
      
      <ion-col size="2">
          <ion-button color="dark" (click)="limpar()">M</ion-button>
          <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
  
      <ion-col size="2">
        <ion-button color="dark" (click)="limpar()">%</ion-button>
        <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-button color="dark" (click)="limpar()">CE</ion-button>
          <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-button color="dark" (click)="limpar()">C</ion-button>
          <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>        
      </ion-col>
      <ion-col size="2">
        <ion-button color="dark" (click)="limpar()">
          <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

<ion-grid>
  <ion-row>

      <ion-col>
        <ion-button color="dark" (click)="limpar()">¹/x</ion-button>
          <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
      </ion-col>

      <ion-col>
        <ion-button color="dark" (click)="limpar()"> x² </ion-button>
          <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
      </ion-col>

      <ion-col>
        <ion-button color="dark" (click)="limpar()">  </ion-button>
          <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
      </ion-col>

      <ion-col>
        <ion-button color="dark" (click)="limpar()">  </ion-button>
          <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
      </ion-col>




    </ion-row>
  </ion-grid>    
  
  <ion-grid>
    <ion-row>
  
        <ion-col>
          <ion-button color="dark" (click)="limpar()">7</ion-button>
            <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
        </ion-col>
  
        <ion-col>
          <ion-button color="dark" (click)="limpar()">8</ion-button>
            <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
        </ion-col>
  
        <ion-col>
          <ion-button color="dark" (click)="limpar()"> 9 </ion-button>
            <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
        </ion-col>
  
        <ion-col>
          <ion-button color="dark" (click)="limpar()"> x </ion-button>
            <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
        </ion-col>
  
  
  
  
      </ion-row>
    </ion-grid>    

    <ion-grid>
      <ion-row>
    
          <ion-col>
            <ion-button color="dark" (click)="limpar()"> 4 </ion-button>
              <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
          </ion-col>
    
          <ion-col>
            <ion-button color="dark" (click)="limpar()"> 5 </ion-button>
              <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
          </ion-col>
    
          <ion-col>
            <ion-button color="dark" (click)="limpar()"> 6 </ion-button>
              <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
          </ion-col>
    
          <ion-col>
            <ion-button color="dark" (click)="limpar()"> - </ion-button>
              <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
          </ion-col>
    
    
        </ion-row>
      </ion-grid> 

      <ion-grid>
        <ion-row>
      
            <ion-col>
              <ion-button color="dark" (click)="limpar()"> 1 </ion-button>
                <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
            </ion-col>
      
            <ion-col>
              <ion-button color="dark" (click)="limpar()"> 2 </ion-button>
                <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
            </ion-col>
      
            <ion-col>
              <ion-button color="dark" (click)="limpar()"> 3 </ion-button>
                <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
            </ion-col>
      
            <ion-col>
              <ion-button color="dark" (click)="limpar()"> + </ion-button>
                <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
            </ion-col>
      
      
          </ion-row>
        </ion-grid> 

        <ion-grid>
          <ion-row>
        
              <ion-col>
                <ion-button  color="dark" (click)="limpar()"> +/-</ion-button>
                  <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
              </ion-col>
        
              <ion-col>
                <ion-button color="dark" (click)="limpar()"> 0 </ion-button>
                  <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
              </ion-col>
        
              <ion-col>
                <ion-button color="dark" (click)="limpar()"> , </ion-button>
                  <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
              </ion-col>
        
              <ion-col>
                <ion-button color="dark" (click)="limpar()"> = </ion-button>
                  <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
              </ion-col>
        
        
            </ion-row>
          </ion-grid> 